node_modules
.vscode
.history
.idea
.DS_Store
npm-debug.log
build
dist
yarn-error.log
local.config.js
.git
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.*.swp
._*
config.gypi
*.orig
package-lock.json
np
.dart_tool